body {
    background-color: rgb(154, 114, 201);
}
.jumbotron {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-image: url("https://inteng-storage.s3.amazonaws.com/img/iea/LBGRP34Ew2/sizes/chandra_resize_md.jpg");
    
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.form-control {
    padding: 30px;

}
h2 {
    text-align: center;
}
p {
    padding: 10px;
}

.btn {
    display: block;
    padding: 10px;
}

#jScript, #python, #rust, #swift, #outside, #please-fill {
    display: none;
}

